<div class="jumbotron">
  <h1 class="display-4">
    <%= @friend.first_name %>
    <%= @friend.last_name %>
  </h1> 
  <div class="container">
  <p class="lead">
    <%= @friend.email %>
    <hr class="my-4">
    <%= @friend.phone%>
    <hr class="my-4">
    <%= @friend.twitter%>
    <hr class="my-4">
    <br/>
  </p>
  </div>
  <p class="lead">
    <%= link_to 'Edit', edit_friend_path(@friend), class: "btn btn-secondary" %> 
    <%= link_to 'Back', friends_path, class:"btn btn-dark" %>
  </p>
</div>



